*{
    box-sizing: border-box;
    margin: 0;
    color: #3c3c3b;
    font-family: 'Fira Sans', sans-serif;
}
.clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */  
a{
    color: #3c3c3b;
    font-size: 14px;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    color: white;
    font-size: 3.5rem;
}
/*Start Navbar*/
.navbar{
    width: 70%;
    height: 80px;
    /* background-color: #7e9c57; */
    line-height: 75px;
    margin: 0 auto;
}
.nav-logo{
    width: 180px;
    display: inline-block;
}
.nav-logo img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.navbar ul{
    float: right;
}
.navbar ul li{
    margin-top: 3px;
    list-style: none;
    float: left;
}
.navbar ul li a{
    padding: 0 15px;
    transition: 0.3s;
}
.navbar ul li a:hover{
    color: white;
    background-color: #3c3c3b;
    padding: 10px 15px;
    border-radius: 5px;
}
.navbar .btn{
    background-color: #04AA6D;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.navbar .menu-btn{
    color: #3c3c3b;
    font-size: 20px;
    cursor: pointer;
    display: none;
    width: 60px;
}
.call-mobile{ 
    display: none;
}
.navbar::after{
    content: '';
    display: block;
    clear: both;
}


.car-bg-image{
    position: relative;
    height: 680px;
    background-image: url(images/AdobeStock_338014347_extended[4].webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 0 45% 25%;
    
}

@media screen and (max-width: 767px) {
    /* navbar design starts here */
    .navbar{
        width: 100%;
        padding: 0 20px;
        text-align: center;
        line-height: 75px;
    }
    .navbar .menu-btn {
       display: inline;
       text-align: left;
       float: left;
    }
     
     .nav-logo{
         width: calc(100% - 120px);
         text-align: center;
         display: inline;
        }
        .nav-logo img{
            width: 160px;
        }

        .navbar .call-mobile{ 
            display: inline;
            float: right;
            text-align: right;
            width: 60px;
            height: auto;
            font-size: 25px;
        }
     .navbar ul{
        display: none;
     }
     .navbar ul li{
         display: block;
     }
     .navbar .btn{
         display: none;   
     }

    .car-bg-image{
        height: 700px;
    }

 }

@media screen and (max-width: 425px) {
    .car-bg-image{
        height: 425px;
    }

 }
 

@media screen and (max-width: 320px) {
    .car-bg-image{
        height: 320px;
    }

}

/*Start Navbar*/


.covid-safe-contents{
    position: absolute;
    left: 120px;
    top: 120px;
    
}
.covid-safe-contents ul{
    padding: 0;
    margin-left: 20px;
}
.covid-safe-contents ul li{
    color: white;
    line-height: 30px;
}
.apply-btn{
    border: none;
    padding: 15px 60px;
    font-size: 1.1rem;
    border-radius: 5px;
}

.covid-safe-car{
    width: 450px;
    height: auto;
}
.covid-safe-car img{
    width: 100%;
}


  /* covid safe ends here  */

.loan-car{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
}
.accident{
    margin-top: 80px;
}

.apply-btn{
    background-color: #04AA6D;
    color: white;
}
.accident h2{
    color: #04AA6D;
    font-size: 2.4rem;
    line-height: 43px;

}

/* helped customers starts here */

.helping-section{
    height: 450px;
    margin-top: 50px;
    background: url(images/lp.webp) no-repeat top right;
    background-size: auto 540px;
}

.car-deliver{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #04aa6d;
}
.help-package{
    position: absolute;
    left: 120px;
    top: 150px;
    line-height: 30px;
}
.help-package h2{
    color: white;
    font-size: 2.4rem;
    line-height: 43px;
}
.car-deliver ul{
    padding: 0;
    line-height: 30px;
    margin-left: 20px;
}
.car-deliver ul li{
    color: white;
    font-size: 14px;
}
/* helped customers ends here */

/* award design starts here */
.award{
    margin-top: 50px;
    text-align: center;
    line-height: 40px;
}
/* award design ends here */


/* review design ends here */

.award-review{
    margin-top: 30px;
    
}
.review{
    width: 80%;
    margin: 0 auto;
}
.card{
    width: 30%;
    float: left;
    /* border: 1px solid lightslategray; */
    box-shadow: 1px 1px 1px 1px gray;
    height: 250px;
    text-align: center;
    margin-right: 3%;
}
.card img{
    width: 60%;
}
#image-1{
    margin-top: 85px;
}
#image-2{
    margin-top: 45px;
}
.card-3{
    margin-right: 0;
}
.card-3{
    text-align: left;
    padding: 15px 0 0 15px;
    line-height: 25px;
}
.ratings i{
    color: rgba(226, 195, 20, 0.876);
}
/* review design ends here */

/* working process  design starts  */

.working-process{
    margin-top: 50px;
}
.work-section{
    /* height: 300px; */
    padding: 20px 0;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.working-process h3{
    font-size: 22px;
}
.working-process-card{
    width: 22%;
    margin-right: 3%;
    float: left;

}
.working-process-card .card-icon i{
    font-size: 2.5rem;
    color: teal;
}

/* working process  design starts  */

/* Frequent questions starts here */

.freq-ques{
    margin-top: 50px;
    text-align: center;
}
.content{
    width: 80%;
    margin: 0 auto;
    text-align: left;
}
.ques-ans{
    background-color: #04AA6D;
}
.left-div{
    width: 30%;
    float: left;
    
}
.right-div{
    width: 60%;
    float: right;
}

/* Frequent questions starts here */
/* Staff support sections starts here */

.staff{
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}
.support{
    width: 80%;
    margin: 0 auto;
}
.content-box{
    width: 585px;
    margin: 0 auto;
}
/* Staff support sections ends here */

/* footer design starts here */
footer{
    background-color: teal;
    height: 350px;
    text-align: center;
    margin-top: 50px;
    text-align: center;
    padding: 50px;
}
footer p, small{
    color: white;
}
.footer-contents{
    width: 80%;
    margin: 0 auto;
    color: white;
    
}
.footer-contents p{
    text-align: right;
    margin-top: 10px;;
}
.footer-contents .contacts i{
    color: white;
    font-size: 1.4rem;
    margin: 10px;
}
.footer-image{
    text-align: left;
}
.footer-image img{
    width: 22%;
    height: auto;
}
.contacts{
    text-align: right;
}

footer .copyright{
    margin-top: 115px;
}
/* footer design starts here */

/* responsive design starts here */

@media screen and (max-width: 767px) {
   
    .covid-safe-contents{
        position: absolute;
        left: 120px;
        top: 120px;
        
    }
    .covid-safe-contents ul{
        padding: 0;
        margin-left: 20px;
    }
    .covid-safe-contents ul li{
        color: white;
        line-height: 30px;
    }
    .apply-btn{
        border: none;
        padding: 15px 60px;
        font-size: 1.1rem;
        border-radius: 5px;
    }
    
    .covid-safe-car{
        width: 450px;
        height: auto;
    }
    .covid-safe-car img{
        width: 100%;
    }
    /* covid safe design ends here */

     
 }
 /* responsive design ends here */