*{
    box-sizing: border-box;
    margin: 0;
    color: #3c3c3b;
    font-family: 'Fira Sans', sans-serif;
}

h1{
    color: white;
    font-size: 3.3rem;
    letter-spacing: 1px;
}

a{
    color: #3c3c3b;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.common-btn{
    border: none;
    background-color: #00bf6f;
    font-size: 1.1rem;
    border-radius: 5px;
    color: white;
    width: 220px;
    height: 55px;
}
 
/* navbar design starts here */

.navbar{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px 0 220px;
    
}
.hamburger{
    display: none;
}
.call-mobile{
    display: none;
}
.nav-logo{
    width: 168px;
}
.nav-logo img{
    width: 100%;
}
.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    margin: 0 20px;
}

.navbar ul li a{
    letter-spacing: 1px;
}
.apply-btn{
    background-color: #00bf6f;
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
}

   /* navbar design ends here */

   /* responsive navbar design starts here */
   @media (max-width: 767px) { 
        .navbar{
            padding: 0px;
        }
        .navbar ul{
            display: none;
        }
        .hamburger{
            display: block;
        }
        .call-mobile{
            display: block;
            /* text-align: right; */
        }
        .p-sm{
            padding-left: 10px;
            padding-right: 10px;
        }
        
        .p-m{
            padding-left: 15px;
            padding-right: 15px;
        }
        .p-lg{
            padding-left: 20px;
            padding-right: 20px;
        }

   }

   /* responsive navbar design ends here */

   /* covid safe car design starts here */

.car-bg-image{
    position: relative;
    background-image: url(images/AdobeStock_338014347_extended[4].webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 730px;
}
.covid-safe-contents{
    position: absolute;
    left: 220px;
    top: 150px;
}
.covid-safe-contents ul{
    padding: 0;
    margin-left: 20px;
}

.covid-safe-contents ul li{
    color: white;
    line-height: 38px;
    font-size: 22px;
    letter-spacing: 1px;
}
.covid-safe-car{
    width: 450px;
}
.covid-safe-car img{
    width: 100%;
}

   /* covid safe car design ends here */

   /* accident loan car design starts here */

.loan-car{
    margin-top: 80px;
}
.accident{
    max-width: 585px;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
}

.accident h2{
    color: #04AA6D;
    font-size: 2.6rem;
    line-height: 43px;

}

   /* accident loan car design ends here */

   /* responsive loan car design starts here */

@media (max-width: 767px) {
    .common-btn{
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }
    .mg-b-sm{
        margin-bottom: 10px;
    }
}



   /* responsive loan car design ends here */

   /* Helping section design starts here */

.helping-section{
    height: 450px;
    margin-top: 50px;
    background: url(images/lp.webp) no-repeat top right;
    background-size: auto 540px;
}

.car-deliver{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #00bf6f;
}
.help-package{
    position: absolute;
    left: 220px;
    top: 135px;
    line-height: 30px;
}
.help-package h2{
    color: white;
    font-size: 2.4rem;
    line-height: 43px;
}
.car-deliver ul{
    padding: 0;
    line-height: 30px;
    margin-left: 20px;
}
.car-deliver ul li{
    color: white;
    font-size: 16px;
}

/* Helping section design starts here */

/* award design starts here */
.award{
    margin-top: 50px;
    text-align: center;
    line-height: 40px;
}
.award h2{
    font-size: 1.7rem;
}

/* award design ends here */

/* Review design starts here */

.award-review{
    margin-top: 30px;
    
}
.review{
    display: flex;
    justify-content: space-between;
    padding: 0 200px 0 220px;
}
.card{
    width: 368px;
    border-radius: 3px;
    box-shadow: 0.05px 0.05px 1px 1px gray;
    height: 250px;
    text-align: center;
}
.card img{
    width: 60%;
}
#image-1{
    margin-top: 85px;
}
#image-2{
    margin-top: 45px;
}
.card-3{
    text-align: left;
    padding: 15px 0 0 15px;
    line-height: 25px;
}
.ratings i{
    color: rgba(226, 195, 20, 0.876);
}

/* Review design ends here */

/* working process design starts here */

.working-process{
    margin-top: 50px;
}
.work-section{
    text-align: center;
}
.working-process h3{
    font-size: 30px;
}
.steps{
    display: flex;
    justify-content: space-between;
    padding: 0 200px 0 220px;
}

.working-process-card{
    width: 20%;
}
.working-process-card .card-icon i{
    font-size: 2.7rem;
    color: teal;
}

/* working process design ends here */

/* frequently asked ques design  starts here */

.freq-ques{
    margin-top: 50px;
    text-align: center;
}
.content{
    display: flex;
    justify-content: space-around;
    padding: 0 200px 0 220px;
    text-align: left;
}
.left-div{
    width: 30%;
    
}
.right-div{
    width: 60%;
}

/* frequently asked ques design  starts here */
.staff{
    margin-top: 150px;
    text-align: center;
    
}
.content-box{
    width: 585px;
    margin: 0 auto;
    line-height: 35px;
}
/* Staff support sections ends here */


/* footer design starts here */
footer{
    background-color: teal;
    height: 350px;
    text-align: center;
    margin-top: 50px;
    text-align: center;
    padding: 50px;
}
footer p, small{
    color: white;
}
.footer-contents{
    width: 80%;
    margin: 0 auto;
    color: white;
    
}
.footer-contents p{
    text-align: right;
    margin-top: 10px;;
}
.footer-contents .contacts i{
    color: white;
    font-size: 1.4rem;
    margin: 10px;
}
.footer-image{
    text-align: left;
}
.footer-image img{
    width: 22%;
    height: auto;
}
.contacts{
    text-align: right;
}

footer .copyright{
    margin-top: 115px;
}
/* footer design ends here */